@page
@model Pritaz.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<br />
<br />
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2>AHL PRITZ SOLON</h2>
                <h3>COMPUTER ENGINEER</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/img/2x2.jpg" class="img-thumbnail" alt="...">
                <p> <h5>
                        I am a computer engineer with a passion for designing and developing innovative technology solutions. as well
                    as a deep understanding of computer hardware and software engineering. With a track record of solving complex
                    problems and delivering high-quality solutions, I'm always looking for new challenges and opportunities to grow.
                        Let's connect and see how I can contribute to your team
                    </h5>
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Flutter - Dart Mobile Development</li>
                    <li><i class="ri-check-double-line"></i> ASP.Net CORE Web App Development</li>
                    <li><i class="ri-check-double-line"></i> Internet of Things Prototype Development</li>
                </ul>
                <p class="fst-italic">
                    Github Link: https://github.com/ahlpritz <br />
                    Linkedin Link: https://www.linkedin.com/in/ahlpritz-solon/
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->