@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>AHL PRITZ C. SOLON </h1>
        <h2>Building Tomorrow's Solutions, One Line of Code at a Time.</h2>
        <a asp-page="/Index" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->
<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="col"> 
        <div class="container grid text-center">

            <div class="row col">

                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/clients/flutter.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/clients/dart.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
                    <img src="assets/img/clients/html.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
                    <img src="assets/img/clients/css.png" class="img-fluid" alt="">
                </div>

                

            </div>
           

            <div class="row">
                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
                    <img src="assets/img/clients/bootstrap.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="700">
                    <img src="assets/img/clients/csharp.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="800">
                    <img src="assets/img/clients/asp.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-5 col-7 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="800">
                    <img src="assets/img/clients/netcore.png" class="img-fluid" alt="">
                </div>
            </div>
            </div>

        </div>
    </section><!-- End Clients Section -->
   
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Years of Experience</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Tech Stacks Used</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Ligtas Points</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="content">
                        <h3>Why Choose Pritz for your Projects, Websites, Embedded Systems?</h3>
                        <p>
                            I am a computer engineer with a passion for designing and developing innovative technology solutions. as well as a deep understanding of computer hardware and software engineering. With a track record of solving complex problems and delivering high-quality solutions, I'm always looking for new challenges and opportunities to grow. Let's connect and see how I can contribute to your team
                        </p>
                        <div class="text-center">
                            <a asp-page="/About" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-filetype-html"></i>
                                    <h4>Web Application Development</h4>
                                    <p>Using Asp.NET Core with HTML, CSS, Bootstrap</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-phone"></i>
                                    <h4>Mobile Application Development</h4>
                                    <p>Using Flutter with Dart Programming</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-cpu"></i>
                                    <h4>Embedded Systems</h4>
                                    <p>Using Microcontrollers or Microprocessors , Sensors, and Actuators</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    
   
  

</main><!-- End #main -->
<!-- ======= Footer ======= -->
