@page
@model Pritaz.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}

<br />
<br />

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>Services</h2>
                    <p>
                        Your Vision, Realized <br /> <br />

                        Welcome to my services page! I offer expertise in the following areas:<br /> <br />

                        Web Development: <br /> <br /> 

                        •  Custom website design and development<br />
                        •   Responsive and mobile-friendly websites<br />
                        •  Content management system (CMS) integration<br /> <br />

                        Mobile Development:<br /> <br /> 

                        •  Native iOS and Android app development<br />
                        •  Cross-platform app development (e.g., React Native)<br />
                        •  User-friendly interfaces and seamless experiences<br /><br />

                        Internet of Things (IoT):<br /><br />

                        •  Connected device development and integration<br />
                        •  IoT application development<br />
                        •  Sensor data collection and analytics<br /><br />

                        Embedded Systems:<br /><br />

                        Embedded software development<br />
                        Hardware integration and prototyping<br />
                        IoT device connectivity<br />
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-filetype-html"></i></div>
                            <h4><a href="">Web Application Development</a></h4>
                            <p>Using Asp.NET Core with HTML, CSS, Bootstrap</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon"><i class="bi bi-phone"></i></div>
                            <h4><a href="">Mobile Application Development</a></h4>
                            <p>Using Flutter with Dart Programming</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon"><i class="bi bi-cpu"></i></div>
                            <h4><a href="">Embedded Systems</a></h4>
                            <p>Using Microcontrollers or Microprocessors , Sensors, and Actuators</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a href="">Internet Of Things</a></h4>
                            <p>Using Arduino or Raspberry Pi Projects</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
